p {
  color: #000000;
  background-color: #908888;
  font-family: "Comic Sans MS";
  width: 50%;
  padding:10px;
  margin: 20px;
  text-align: left;


}
img {
  width:250px;
  height:250px;
  margin-left: 180px;


}

h2 {
  color: #000000;
  background-color: #908888;
  font-family: "Comic Sans MS";
  width: 50%;
  padding:10px;
  text-align: center;
  margin-left: 50px;


}

body
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}

.list
{
    font-size: 12px;
}

#btnFriend
{
    background-color: #5DE11B;
    padding: 50px;
    margin-left: 50px;
}

#btnEnemy
{
    background-color: #EC0000;
    border: thin solid;
    margin: 10px;
    padding: 20px;
}

#btnWave
{
    background-color: #03FFF0;
}

.flex-container {
  display: flex;
  background-color: dodgerblue;
  text-align: center;
}

.flex-item {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
}

s1 {
  color: #000000;
  font-size: 12px;
  font-family: "Comic Sans MS";



}